@model List<Category>
    

@{
    ViewData["Title"] = "Industry";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Quản lý danh mục</h1>
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="showModal()">
            <i class="align-middle" data-feather="plus"></i> Thêm mới
        </button>
    </div>

    <div class="row">
        <div class="col-12 col-xl-12">
            @*<div class="alert alert-success alert-dismissible" role="alert" id="alert" style="visibility: hidden">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-icon">
                    <i class="fal fa-bell-on"></i>
                </div>
                <div class="alert-message">
                    Thêm ngành nghề thành công !
                </div>
            </div>*@
            <div class="card">
                <table class="table table-striped" id="tblCategory">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên danh mục</th>
                            <th>Thứ tự hiện thị</th>
                            <th nowrap>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int STT = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr id="hihi-@item.Id">
                                <td>@STT</td>
                                <td id="category-name-@item.Id">@item.Name</td>
                                <td id="display-order-@item.Id">@item.DisplayOrder</td>
                             
                                <td class="table-action">
                                    <a href="#" onclick="populateModalWithIndustryDetails(@item.Id)">
                                        <i class="fal fa-pen" style="color: #000000; margin-right: 25px;"></i>
                                    </a>
                                    <a onclick="deleteIndustry(@item.Id)">
                                        <i class="fal fa-trash" style="color: #000000;"></i>
                                    </a>
                                </td>
                            </tr>
                            STT++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Thêm mới một danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close" onclick="resetText()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Tên danh mục <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="CategoryName" placeholder="Nhập tên danh mục" style="margin-bottom: 5px;" />
                    <span id="checkName" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Thứ tự hiện thị <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="DisplayOrder" placeholder="Nhập thứ tự hiện thị" style="margin-bottom: 5px;" />
                    <span id="checkDisplay" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetText()">Đóng</button>
                <button type="button" class="btn btn-primary" id="save" onclick="saveIndustry()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/category.js"></script>
    <script>
        document.getElementById("CategoryName").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                createIndustry();
            }
        });</script>
}