@model ProductReviewVM

<form method="post">
    <input asp-for="ShoppingCart.ProductId" hidden />
    <input asp-for="ShoppingCart.Id" hidden />

    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.ShoppingCart.Product.Title</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        @if (Model.ShoppingCart.Product.ProductImages != null && Model.ShoppingCart.Product.ProductImages.Count > 0)
                        {
                            <div id="carouselExampleIndicators" class="carousel  slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">

                                    @foreach (var imageWithIndex in
                                   Model.ShoppingCart.Product.ProductImages
                                   .Select((image, index) => new { Image = image, Index = index }))
                                    {
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@imageWithIndex.Index"
                                                class="@(imageWithIndex.Index==0?"active":"")" aria-current="true" aria-label="Slide 1"></button>
                                    }
                                </div>
                                <div class="carousel-inner">
                                    @foreach (var imageWithIndex in
                                   Model.ShoppingCart.Product.ProductImages
                                   .Select((image, index) => new { Image = image, Index = index }))
                                    {
                                        <div class="@(imageWithIndex.Index==0?"carousel-item active":"carousel-item")">
                                            <img src="@imageWithIndex.Image.ImageUrl" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        }
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="col-12 col-md-6 pb-4">
                            <p class="text-info"> Thể loại: @Model.ShoppingCart.Product.Category.Name  </p>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 ">Tác giả: @Model.ShoppingCart.Product.Author</h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 ">ISBN : @Model.ShoppingCart.Product.ISBN</h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                List Price:
                                <span class="text-decoration-line-through">
                                    @Model.ShoppingCart.Product.ListPrice.ToString("c")
                                </span>
                            </h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 ">Người bán: @Model.ShoppingCart.Product.Seller.StoreName</h6>
                        </div>
                        <div class="row text-center ps-2">
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">Quantity</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">1-50</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">51-100</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark text-opacity-50 fw-semibold">100+</div>
                            </div>
                        </div>
                        <div class="row text-center ps-2">
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.ShoppingCart.Product.Price.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.ShoppingCart.Product.Price50.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.ShoppingCart.Product.Price100.ToString("c")</div>
                            </div>
                        </div>
                        <div class="row pl-2 my-3">
                            <p class="text-secondary lh-sm">
                                @Html.Raw(Model.ShoppingCart.Product.Description)
                            </p>
                        </div>
                        <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                          id="inputGroup-sizing-default">
                                        Count
                                    </span>
                                    <input asp-for="ShoppingCart.Count" type="number" value="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit"
                                        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Review list -->
                <div class="product-reviews">
                    <h2 class="mb-4">Customer Reviews</h2>
                    @if (Model.ProductReviewList != null)
                    {
                        @foreach (var review in Model.ProductReviewList)
                        {
                            <div class="review">
                                <input type="text" class="reviewId"  value="@review.Id" hidden />
                                <p>@review.ApplicationUser.Name</p>
                                <div class="rating">
                                    <!-- display filled star for each point of rating -->
                                    @for (var i = 0; i < review.Rating; i++)
                                    {
                                        <i class="fas fa-star" style="color: #f3994a;"></i>
                                    }
                                    <!-- display empty star for the rest -->
                                    @for (var i = review.Rating; i < 5; i++)
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                </div>
                                <p class="comment">
                                    @review.Comment,
                                </p>
                                @if (review.ApplicationUser.Id.Equals(Model.ApplicationUserId))
                                {
                                    <a class="btn btn-primary edit-review" data-review-id="@review.Id">Edit Review</a>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Review form -->
<form asp-action="CreateReview" asp-controller="ProductReview" method="post">
    <h2 class="mb-4">Leave a Review</h2>

    <input type="hidden" asp-for="ProductId" value="@Model.ShoppingCart.ProductId" />
    <input type="hidden" asp-for="ApplicationUserId" value="@Model.ApplicationUserId" />

    <div class="form-group">
        <label for="rating">Rating</label>
        <div id="rating">
            @foreach (var i in Enumerable.Range(1, 5))
            {
                <i class="far fa-star rating-star" style="color: gold;" data-rating="@i"></i>
            }
        </div>
        <input type="hidden" asp-for="ProductReview.Rating" id="ratingInput" />
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea asp-for="ProductReview.Comment" class="form-control" id="comment" placeholder="Write your review here..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Review</button>
</form>


<!-- Review Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="ProductReview" asp-action="EditReview" method="post">
                <div class="modal-body">
                    <input asp-for="ProductId" hidden />
                    <input asp-for="ApplicationUserId" hidden />
                    <input asp-for="ProductReview.Id" class="form-control" id="reviewId" hidden />
                <div class="form-group">
                        <label asp-for="ProductReview.Comment">Comment</label>
                    <textarea asp-for="ProductReview.Comment"  class="form-control" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <label for="rating">Rating</label>
                        <input asp-for="ProductReview.Rating"   min="1" max="5" class="form-control" id="rating" />
                </div>
                </div>
                 <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary btn-save">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        // rating stars interaction
        $(document).ready(function () {
            $('.rating-star').on('click', function () {
                var rating = $(this).data('rating');
                $('#ratingInput').val(rating);
                updateStars(rating);
            });

            $('.rating-star').on('mouseover', function () {
                var hoverRating = $(this).data('rating');
                updateStars(hoverRating);
            });

            $('#rating').on('mouseleave', function () {
                var rating = $('#ratingInput').val();
                updateStars(rating);
            });

            function updateStars(rating) {
                $('.rating-star').each(function () {
                    if ($(this).data('rating') <= rating) {
                        $(this).removeClass('far').addClass('fas');
                    } else {
                        $(this).removeClass('fas').addClass('far');
                    }
                });
            }
        });

        // review edit functionality
        $(document).ready(function () {
            $('.edit-review').click(function () {
                var container = $(this).closest('.review');
                var reviewId = container.find('.reviewId').val();
                var comment = container.find('.comment').text().trim();
                var rating = container.find('.fas.fa-star').length;

                $('#editModal textarea[name="ProductReview.Comment"]').val(comment);
                $('#editModal input[name="ProductReview.Rating"]').val(rating);
                $('#editModal input[name="ProductReview.Id"]').val(reviewId);
                $('#editModal').modal('show');
                console.log(comment + "  " + rating + " id " + reviewId)
            });

            $('#editModal .btn-save').click(function () {
                var comment = $('#editModal textarea[name="ProductReview.Comment"]').val();
                var rating = $('#editModal input[name="ProductReview.Rating"]').val();

                var id = $('#editModal input[name="ProductReview.Id"]').val();
                console.log(comment + " modal  " + rating)
                // Submit changes here (e.g., send an AJAX request to the server)

                $('#editModal').modal('hide');
            });
        });
    </script>
}