@model X.PagedList.IPagedList<Product>
@addTagHelper *, X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;

<div class="row pb-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < 5 && i < Model.Count(); i++)
            {
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < 5 && i < Model.Count(); i++)
            {
                var product = Model[i];
                <div class="carousel-item @(i == 0 ? "active" : "")">

                    <a href="@Url.Action("Details", "Home", new { productId = product.Id })">
                        @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                        {
                            <img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="d-block" alt="Hình ảnh" height="400" width="1150">
                        }
                        else
                        {
                            <img src="https://placehold.co/200x300/png" class="d-block" alt="Hình ảnh không tồn tại" height="400" width="1000" />
                        }
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@product.Title</h5>
                            <p>@product.Author</p>
                        </div>
                    </a>

                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>


    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                        {
                            <img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" width="300" height="200" />
                        }
                        else
                        {
                            <img src="https://placehold.co/500x600/png" alt="Hình ảnh không tồn tại" width="300" height="200" class="card-img-top rounded" />
                        }
                        <div class="card-body pb-0">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center product-title">
                                @product.Title
                            </p>
                            <p class="card-title text-warning text-center">by @product.Author</p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                List Price:
                                <span class="text-decoration-line-through">
                                    @product.ListPrice.ToString("c")
                                </span>
                            </p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center">
                                List Price:
                                <span class="text-decoration-line-through">
                                    @product.Price100.ToString("c")
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.PageCount > 1)
{
    <div class="d-flex justify-content-center">
        <h4>
            @Html.PagedListPager(
        Model,
        page => Url.Action("Index", new { page, keyword = Context.Request.Query["keyword"] }),
        new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5 }
        )
        </h4>
    </div>
}




@section Scripts{
    <script>
        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel)

    </script>
}